<div id="clips" class="transitions-enabled">
<% @clips.each do |clip| %>
  <div class="box panel panel-default">
    <%= image_tag clip.image.url(:medium) %>
    <div class="panel-body">
      <%= clip.description %>
      <%= clip.user.email if clip.user %>
      <%= link_to 'Show', clip %>
      <% if clip.user == current_user %>
        <%= link_to 'Edit', edit_clip_path(clip) %>
        <%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </div>
  </div>
    <% end %>
</div>
