<%= render 'pages/home' unless user_signed_in? %>

<div id="clips" class="transitions-enabled">
<% @clips.each do |clip| %>
  <div class="box panel panel-default">
    <%= link_to image_tag(clip.image.url(:medium)), clip %>
    <div class="panel-body">
      <%= clip.description %></br>
      <strong><%= clip.user.name if clip.user %></strong>
      
      <% if clip.user == current_user %>
       <div class="actions">
        <%= link_to edit_clip_path(clip) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        <% end %>
        <%= link_to clip, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        <% end %>
       </div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>

<div class="center">

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

</div>