<%= link_to 'Back', clips_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @clip.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @clip.description %></p>
        <p><strong><%= @clip.user.name if @clip.user %></strong></p>
        <% if @clip.user == current_user %>
          <%= link_to edit_clip_path(@clip) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

